
<div class="container">
    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0 text-center"><span class="badge badge-pill badge-primary">{{title}}</span></h5>
          </div>
          <div class="card-body">
            <form #editPostForm=ngForm (ngSubmit)="onSubmit(editPostForm)">
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="name" class="form-control" name='name' ngModel required minlength="2" #name="ngModel"/>
                    <label class="form-label" for="name">כותרת</label>
                    </div>
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert-danger">
                      <p>הכנס כותרת</p>
                    </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="author" class="form-control" name="author" ngModel required minlength="2" #author="ngModel"/>
                    <label class="form-label" for="author">שם המחבר</label>
                  </div>
                  <div *ngIf="author.invalid && (author.dirty || author.touched)" class="alert-danger">
                    <p>הכנס שם מחבר</p>
                  </div>
    


                </div>
              </div>
    
              <div class="form-outline mb-4">
                <input type="text" id="summary" class="form-control" name="summary" ngModel required minlength="2" #summary="ngModel" />
                <label class="form-label" for="summary">תקציר</label>
              </div>
              <div *ngIf="summary.invalid && (summary.dirty || summary.touched)" class="alert-danger">
                <p>הכנס תקציר</p>
              </div>

    
              <div class="form-outline mb-4">
                <input type="text" id="imageUrl" class="form-control" name="imageUrl" ngModel  imageUrl #imageUrl="ngModel"/>
                <label class="form-label" for="imageUrl">קישור לתמונה</label>
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="tags" class="form-control" name="tags" ngModel required minlength="2" #tags="ngModel"/>
                <label class="form-label" for="tags">תגיות</label>
              </div>
              <div *ngIf="tags.invalid && (tags.dirty || tags.touched)" class="alert-danger">
                <p>(מופרדות על ידי פסיק) הכנס תגיות</p>
              </div>
    
              <div class="form-outline mb-4">
                <textarea class="form-control" id="body" rows="20" name="postBody" required minlength="2" ngModel ></textarea>
                <label class="form-label" for="postBody">הסיפור</label>
              </div>
              <div *ngIf="id" class="form-outline mb-4">
                <textarea class="form-control" id="comments" rows="20" name="comments"  minlength="2" ngModel ></textarea>
                <label class="form-label" for="postBody">תגובות</label>
              </div>
    
              <!-- <button type="submit" class="mx-2 my-2 btn btn-success" [disabled]="!editPostForm.valid" >אישור</button> -->
              <button type="submit" class="mx-2 my-2 btn btn-success" [disabled]="!editPostForm.valid">אישור</button>
              <button type="button" class="mx-2 my-2 btn btn-primary" href="#" (click)="backClicked()" routerLinkActive="active">ביטול</button>
              <!-- <button type="button" class="mx-4 my-2 btn btn-danger" href="#" routerLink="./adduser" routerLinkActive="active">ניקוי טופס</button> -->

            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    