.spinnerbg{
    position: absolute;
    display: flex;
    z-index: 99;
    /* background-color: rgba(252, 249, 249, 0.1); */
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background: #fff;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
      align-items: center;
      justify-content: center;
  }
  .spinner{
    width: 10%;
    height: 10%;
   z-index: -1;
    
  }
  