<div class="container col-xs-12 col-sm-6 col-md-3">
<!-- Pills navs -->
<ul ngbNav #nav="ngbNav" class="nav-tabs nav-justified mb-3 mt-3">
    <li ngbNavItem>
      <a ngbNavLink>כניסה</a>
      <ng-template ngbNavContent>
        <div>
            <form  #loginForm=ngForm (ngSubmit)="loginPushed(loginForm)">
              <!-- <div class="text-center mb-3">
                <p>Sign in with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>
        
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>
        
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>
        
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
        
              <p class="text-center">or:</p> -->
        
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" class="form-control form-control-user"
                id="loginEmail" name="loginEmail" aria-describedby="emailHelp"
                placeholder="Enter Email Address..." ngModel required email #loginEmail="ngModel">
                                                     
                <div *ngIf="loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)" class="danger">
                    <p>נא הקש כתובת דוא"ל תקינה</p>
                    </div>

                </div>
        
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" class="form-control form-control-user"
                id="loginPassword" name="loginPassword" placeholder="Password" ngModel required password minlength="6" #loginPassword="ngModel">
                <div *ngIf="(loginPassword.touched && !loginPassword.dirty)" class="danger">
                    <p>הקש את הסיסמה</p>
                  </div>

                </div>




        
              <!-- <div class="row mb-4"> -->
                <!-- <div class="col-md-6 d-flex justify-content-center"> -->
                  <!-- Checkbox -->
                  <div class="mb-3 row mb-md-0 mx-1">
                    <div class="col-3">
                    <input class="form-check-input" type="checkbox" value="" id="rememberMe" name="rememberMe" ngModel checked #rememberMe/>
                  </div>
                  <div class="col-9 mb-3">
                    <label class="form-check-label" for="loginCheck">הישאר מחובר</label>
                  </div>
                  <!-- </div> -->
                <!-- </div> -->
                
            </div>
        
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="loginForm.invalid">היכנס</button>
            </form>
            <hr>

            <div class="row mb-4 d-flex justify-content-center">
      
                <button href="" class="btn btn-primary btn-block mb-4" (click)="forgetPasswordPushed(loginForm)" [disabled]="!loginEmail || loginEmail.invalid">שכחת סיסמה? מלא את כתובת הדוא"ל בלבד והקש כאן</button>
            </div>

          </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>הרשמה</a>
      <ng-template ngbNavContent> 
        <div>
            <form #registerForm=ngForm (ngSubmit)="registerPushed(registerForm)">
              
              <!-- Name input -->
              <div class="form-outline mb-4">
                <input type="text" class="form-control form-control-user"
                id="registerName" name="registerName" aria-describedby="name"
                placeholder="לדוגמה: ישראל ישראלי" ngModel required #registerName="ngModel">
                                                     
                <div *ngIf="registerName.touched && !registerName.dirty" class="danger">
                    <p>הקש שם מלא</p>
                    </div>
              </div>
        
              
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" class="form-control form-control-user"
                id="registerEmail" name="registerEmail" aria-describedby="emailHelp"
                placeholder="לדוגמה abc@def.ghi" ngModel required email #registerEmail="ngModel">
                                                     
                <div *ngIf="registerEmail.invalid && (registerEmail.dirty || registerEmail.touched)" class="danger">
                    <p>נא הקש כתובת דוא"ל תקינה</p>
                    </div>

                </div>
        
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" class="form-control form-control-user"
                id="registerPassword" name="registerPassword" placeholder="Password" ngModel required password minlength="6" #registerPassword="ngModel">
                <div *ngIf="(registerPassword.touched && !registerPassword.dirty)" class="danger">
                    <p>נא הקש את סיסמתך</p>
                  </div>

                </div>
        
              <!-- Repeat Password input -->
              <div class="form-outline mb-4">
                <input type="password" class="form-control form-control-user"
                name="registerPassword2" id="registerPassword2" placeholder="Repeat Password" ngModel required minlength="6" password #registerPassword2="ngModel">
        </div>
        <div *ngIf="registerPassword2.touched && (registerPassword2.value != registerPassword.value)" class="danger">
            <p>נא הקש את אותה הסיסמא</p>
          </div>              
        
        
        
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-3" [disabled]="!registerForm.valid || (registerPassword2.value != registerPassword.value)">Register</button>
            </form>
          </div>
          </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
  
</div>