<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <main class="px-4">

        <div>
            <h3 class="mt-4 mb-4 text-center"><span class="badge badge-pill badge-primary">אודות "לקרוא ולצמוח"</span></h3>
          </div>

          <p class="text-justify">לקרוא ולצמוח הוא יוזמה לעידוד יצירתיות וכתיבת סיפורת לקהל הדתי-לאומי. האתר מיועד לציבור המורים, ההורים, וכמובן - הילדים.</p>
          <p class="text-justify">תכני האתר נכתבים ע"י צוות כותבות תורניות ונבחנים בקפידה ע"י דמות חינוכית ותורנית.</p>
          <p class="text-justify">הרשמה לאתר תאפשר לך שמירת סיפורים כמועדפים וצפייה בהם בהמשך.</p>
          <p class="text-justify">בתקופה זו האתר בהרצה ותגובות יתקבלו ברצון לכתובת המייל המופיעה בתחתית האתר.</p>
          <br>
          <p class="text-center">קריאה מהנה!</p>
  </main>

      </div>
    </div>
    </div>