<header class="header">
  <!-- Main Navbar-->
  <nav class="navbar navbar-expand-lg">
    <div class="search-area">
      <div class="search-area-inner d-flex align-items-center justify-content-center">
        <div class="close-btn"><i class="icon-close"></i></div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-8">
            <form action="#">
              <div class="form-group">
                <input type="search" name="search" id="search" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search-1"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Navbar Brand -->
      <div class="navbar-header d-flex align-items-center justify-content-between">
        <img src="../../../assets/images/logo.gif" class="logo">
        <!-- Navbar Brand --><a routerLink="/home" class="navbar-brand"></a>
        <!-- Toggle Button-->
        <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse"
          aria-expanded="false" aria-label="Toggle navigation" type="button" (click)="toggleNavbar = !toggleNavbar"
          class="navbar-toggler"><img src="../../../assets/images/hamburger-menu.svg" class="icon"></button>
      </div>

      <!-- Navbar Menu -->
      <div id="navbarcollapse" class="collapse navbar-collapse"  [ngbCollapse]="toggleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a routerLink="/home" routerLinkActive="active-link" class="nav-link ">בית</a>
          </li>
          <li *ngIf="(userData|json)!='{}'" class="nav-item"><a routerLink="/myprofile" routerLinkActive="active-link" class="nav-link">הפרופיל שלי</a>
          </li>
          <li *ngIf="(userData|json)!='{}'" class="nav-item"><a  [routerLink]="['/postlist']" [queryParams]="{query:'favorites'}"  routerLinkActive="active-link" class="nav-link">המועדפים שלי</a>
          </li>

          <li *ngIf="(userData.userStatus|json)=='2'"  class="nav-item"><a routerLink="/users" routerLinkActive="active-link" class="nav-link">ניהול משתמשים</a>
          </li>
          <li class="nav-item"><a routerLink="/about" routerLinkActive="active-link" class="nav-link ">אודות</a>
          </li>
          <li *ngIf="(userData.userStatus|json)=='2'||(userData.userStatus|json)=='1'" class="nav-item"><a routerLink="/edit" routerLinkActive="active-link" class="nav-link ">הוספת סיפור</a>
          </li>
          <li *ngIf="(userData|json)=='{}'" class="nav-item"><a routerLink="/login" routerLinkActive="active-link"
              class="nav-link">התחברות|הרשמה</a>
          </li>
          <li *ngIf="(userData|json)!='{}'" class="nav-item"><a routerLink="" (click)="logoutClick()"
               class="nav-link">התנתקות</a>
          </li>
        </ul>
        <!-- User Info-->
<div class="navbar-text d-flex align-center">
  <img class="avatar" *ngIf="(userData|json)!='{}'" [src]="transformStringToImage()">

  <div class="align-center">
          <p *ngIf="(userData|json)!='{}'" class="mb-0">שלום</p>
          <p *ngIf="(userData|json)!='{}'" class="mt-0  font-weight-bold">{{userData.name}}</p>
          <!-- TODO: לשנות שיהיה תלוי בקבלת מידע משתמש כי יש בעיה בכניסה ראשונה -->
        </div>
        <!-- <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div> -->
      </div>
    </div>
    </div>
  </nav>
</header>
