
<div class="container col-xs-12 col-sm-6 col-md-6">
  <h3 class="mt-3 mb-3 text-center px-4"><span class="badge badge-pill badge-primary">הפרופיל שלי</span></h3>
  


    <div>
        <form #updateUserForm=ngForm (ngSubmit)="updateUserPushed(updateUserForm)">
          
          <!-- Name input -->
          <div class="form-outline mb-2">
    <p class="text-center font-weight-bold mt-0">שם</p>

            <input type="text" class="form-control form-control-user"
            id="updateUserName" name="updateUserName" aria-describedby="name" minlength="4"
            ngModel required #updateUserName="ngModel">
                                                 
            <div *ngIf="updateUserName.invalid" class="danger">
                <p>הקש שם מלא</p>
                </div>
          </div>
    
          <!-- Phone input -->
          <div class="form-outline mb-2">
    <p class="text-center font-weight-bold mt-0">טלפון</p>

            <input type="text" class="form-control form-control-user"
            id="updateUserPhone" name="updateUserPhone" aria-describedby="phone" pattern="^\+?(972|0)(\-)?0?(([23489]{1}\d{7})|[5]{1}\d{8})$"
            ngModel required #updateUserPhone="ngModel">
                                                 
            <div *ngIf="updateUserPhone.invalid" class="danger">
                <p>הקש מספר טלפון</p>
                </div>
          </div>

          
          <!-- Email input -->
          <div class="form-outline mb-2">
    <p class="text-center font-weight-bold mt-0">דוא"ל</p>

            <input type="email" class="form-control form-control-user"
            id="updateUserEmail" name="updateUserEmail" aria-describedby="emailHelp"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" 
            placeholder="לדוגמה abc@def.ghi" ngModel required email #updateUserEmail="ngModel">
                                                 
            <div *ngIf="updateUserEmail.invalid" class="danger">
                <p>נא הקש כתובת דוא"ל תקינה</p>
                </div>

            </div>
    
          <!-- Password input -->
          <div class="form-outline mb-2">
              <p>לשינוי סיסמתך הקש כאן סיסמה חדשה</p>
              <p class="text-justify small-text">בחר סיסמה בת 8 תווים לפחות, הכוללת לפחות 4 מספרים, אות גדולה, אות קטנה ותו מיוחד</p>
              <input type="password" class="form-control form-control-user"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=(.*?[0-9]){4})(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            id="updateUserPassword" name="updateUserPassword" placeholder="סיסמה לדוגמה: Est%1234" ngModel password minlength="6" #updateUserPassword="ngModel">
            <div *ngIf="updateUserPassword.invalid" class="danger">
                <p>נא הקש סיסמה העומדת בתנאים</p>
              </div>

            </div>
    
          <!-- Repeat Password input -->
          <div class="form-outline mb-2">
            <input type="password" class="form-control form-control-user" autocomplete="one-time-code"
            name="updateUserPassword2" id="updateUserPassword2" placeholder="חזור על הסיסמה" ngModel minlength="6" password #updateUserPassword2="ngModel">
    </div>
    <div *ngIf="updateUserPassword2.value != updateUserPassword.value" class="danger">
        <p>נא הקש סיסמה זהה בשני השדות או השאר את שניהם ריקים</p>
      </div>              
      <div class="form-outline mb-2">
        <input type="text" hidden class="form-control form-control-user"
        name="updateUserAvatar" id="updateUserAvatar" ngModel minlength="6" #updateUserAvatar="ngModel">
  
    </div>

    <div class="form-outline mb-2 row">

        <div class="col-9">
                    
    <p class="text-center font-weight-bold mt-0">תמונת פרופיל</p>

        </div>
        <div class="col-3">
 <img class="avatar"  *ngIf="imgResult"  [src]="transformStringToImage()">
        </div>
    <div class="form-outline mb-2">
        
        <button type="button" (click)="uploadAvatar()" #fileUpload>העלה תמונה חדשה</button>
    </div>

      
     
</div>
    
          <!-- Submit button --> 
          <button type="submit"  class="btn btn-primary btn-block mb-3" [disabled]="!updateUserForm.valid">עדכן את הפרופיל</button>
          <button type="button" class="mx-2 my-2 btn btn-primary" routerLink="/home" routerLinkActive="active">ביטול</button>

        </form>
      </div>
    





              <div class="form-outline mb-2">
                <!-- <input type="file" (change)="onFileChanged($event)"> -->
              </div>
    
    

              
			  
			  
			  
			  
			  