@import url('../src/css/style.blue.css');
html {
    background-image: url(../src/assets/images/seamless-pattern-g5ac3ff013_640.png);
    background-size: 200px;
     background-repeat: repeat;
  }
  
  body {
    background:rgba(255,255,255,0.5); /* applies a 50% transparent white background */
  }

main{
    background-color: rgba(204, 220, 204, 0.874);
}
form{
    background-color: white;
}
table{
    background-color: white;
}
.white-back{
    background-color: white;
}