<div class="container">
  <div class="row">
<div class="col-md-6 col-12 mx-auto text-center mt-4 ">
<div class="row">
  <form action="" class="w-100 px-4">
    <div class="p-1 bg-light rounded rounded-pill border shadow-sm mb-4 w-100">
      <div class="input-group">
        <input type="search" id="searchInput" placeholder="מה אתה מחפש היום?" aria-describedby="button-addon1" class="form-control border-0 bg-light"  [(ngModel)]="placeId" [ngModelOptions]="{standalone: true}">
        <div class="input-group-append">
          <button id="button-addon1" type="button" (click)="searchPushed(placeId)"  (keyup.enter)="searchPushed(placeId)" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </form>

</div>


  <div class="row">
    <div class="col-lg-6">
      <div [routerLink]="['/postlist']" [queryParams]="{tag:'סיפורים קצרים'}" class="card l-bg-cherry btn">
        <div class="card-statistic-3  py-4 mx-auto">
          <div class="card-icon card-icon-large"><i><img src="../../../assets/images/reshot-icon-story-book-3JMGFUE79P-bad37.svg"></i></div>
          <div class="mb-4 text-center px-4">
            <h1 class="card-title mb-0">סיפורים קצרים</h1>
          </div>
        </div>
      </div>
    </div>
  

    <div class="col-lg-6">
         
      <div [routerLink]="['/postlist']" [queryParams]="{tag:'סיפורים לנשים'}" class="card l-bg-green-dark btn">
        <div class="card-statistic-3  py-4 mx-auto">
          <div class="card-icon card-icon-large"><i><img src="../../../assets/images/woman-avatar.svg"></i></div>
          <div class="mb-4 text-center px-4">
            <h1 class="card-title mb-0">סיפורים לנשים</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div [routerLink]="['/postlist']" [queryParams]="{tag:'סיפורים בהמשכים'}" class="card l-bg-orange-dark btn">
        <div class="card-statistic-3  py-4 mx-auto">
          <div class="card-icon card-icon-large"><i><img src="../../../assets/images/books.svg"></i></div>
          <div class="mb-4 text-center px-4">
            <h1 class="card-title mb-0">סיפורים בהמשכים</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div [routerLink]="['/postlist']" [queryParams]="{tag:'סיפורים חגים'}" class="card l-bg-cyan-dark btn">
        <div class="card-statistic-3 py-4 mx-auto">
          <div class="card-icon card-icon-large"><i><img src="../../../assets/images/hanukkah-46906.svg"></i></div>
          <div class="mb-4 text-center px-4">
            <h1 class="card-title mb-0">סיפורי חגים</h1>
          </div>
        </div>
      </div>
    </div>
      <div class="col-12">
        <div [routerLink]="['/postlist']" [queryParams]="{query:'*'}" class="card l-bg-yellow btn">
          <div class="card-statistic-3  py-4 mx-auto">
            <div class="card-icon card-icon-large"><i></i></div>
            <div class="mb-4 text-center px-4">
              <h1 class="card-title mb-0">כל הסיפורים</h1>
            </div>
          </div>
      </div>
  
  </div>
</div>
  
  </div>

    <div class="col-md-6 col-12 mx-auto text-center mt-4 border rounded">
      <h3><span class="badge badge-pill badge-primary">סיפורים אחרונים</span></h3>
      <div *ngIf="!latest" class="mt-4">
        <h4 class="mt-4">טוען סיפורים...</h4>

      </div>

    <div class="card btn"  [routerLink]="['/post/',post._id]"  *ngFor="let post of latest">
      <img *ngIf="post.imageUrl" src="{{post.imageUrl}}" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{post.name}}</h5>
        <p class="card-text">
          {{post.summary}}
        </p>
      </div>
    </div>
  </div>











    